@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-grad {
    background-image: linear-gradient(to right, #0063fb 0%, #5783db 51%, #55c2da 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* SVG ANIMATION */
.svgpathryno {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: dash 10s forwards;
}
.svggryno {
    animation: fill-in 7s 4s forwards;
    fill-opacity: 0;
}

.svgpath {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash 10s forwards;
    height: 25px;
    width: 25px;
}

.svgg {
    animation: fill-in 2s 4s forwards;
    fill-opacity: 0;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill-in {
    to {
        fill-opacity: 1;
    }
}

/* Remove from number input */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
